@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  font-family: "Electrolize", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 2.5em;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: white;
}

.nav-links ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  padding: 5px 10px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  background-color: white;
  height: 3px;
  width: 25px;
  border-radius: 2px;
}

.logo img {
  max-width: 80px;
  height: auto;
}

.hero {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.hero-image {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.3rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.game-dev-section {
  margin: 10px;
  padding: 20px 0;
  text-align: center;
}

.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  margin-top: 1.5em;
  padding: 10px;
  max-width: 1300px;
}

.game-module-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 1px solid #c5c5c5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.module-info {
  padding: 10px;
  text-align: center;
}

.module-info h4 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.module-info p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.module-info img {
  max-width: 100%;
  object-fit: contain;
  height: auto;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px;
}

.game-card {
  font-size: 1.1em;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 21%;
  display: flex;
  flex-direction: column;
}

.game-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.game-container.reversed {
  flex-direction: row-reverse;
}

.game-container .game-card h4 {
  text-align: center;
}

.game-container .game-card p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 8px 0;
  padding: 4px 0;
  color: #333;
  font-weight: normal;
}

.button {
  display: inline-block;
  width: 35%;
  text-align: center;
  padding: 10px 20px;
  background-color: #0c8cdb;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  word-wrap: break-word;
  box-sizing: border-box;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.input-box {
  margin-bottom: 20px;
}

.input-box span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-box input:focus {
  border-color: darkblue;
  outline: none;
}

.submit-button {
  background-color: darkblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: navy;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="date"] {
  padding: 8px 10px;
  font-size: 16px;
}

input:focus {
  border-color: darkblue;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}


#emailInput {
  width: 450px;
  padding: 15px;
  border: 1px solid darkblue;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

textarea{
  width: 450px;
  padding: 15px;
  border: 1px solid darkblue;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #0c8cdb;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0c8cdb;
}

.game-container .game-card-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.social-icons img {
  width: 40px;
  height: auto;
}

footer {
  background-color: #333;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  position: relative;
}


.footer-content {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

.footer-content p {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 25px;
}


/* Responsive Design */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links.open {
    right: 0;
  }

  .game-module-card {
    padding: 1%;
    flex-basis: 80%;
    flex-grow: 1;
    flex-grow: inherit;
  }

  .game-card {
    padding: 2%;
    flex-basis: 95%;
    flex-grow: 1;
    flex-grow: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}